<a href="https://colab.research.google.com/github/SafaruzzamanShovo/CSE_4103_Data-Science/blob/main/basics_of_python_with_interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Output

In [ ]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [ ]:
print('salman khan')

salman khan

In [ ]:
print(salman khan)

SyntaxError: ignored

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [ ]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end='-')
print('world')

hello-world

# 2. Data Types

In [ ]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [ ]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/String
print('Hello World')

Hello World

In [ ]:
# complex
print(5+6j)

(5+6j)

In [ ]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [ ]:
# type
type([1,2,3])

list

# 3. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [ ]:
# Dynamic Typing
a = 5
# Static Typing
int a = 5

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
int a = 5

5
nitish

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

# Comments

In [ ]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# 4. Keywords & Identifiers

In [ ]:
# Keywords

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

# Temp Heading

# 5. User Input

In [ ]:
# Static Vs Dynamic
input('Enter Email')

Enter Emailnitish@gmail.com

'nitish@gmail.com'

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number56
enter second number67
123
<class 'int'>

# 6. Type Conversion

In [ ]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

print(4 + '4')

10.6
<class 'int'> <class 'float'>

TypeError: ignored

In [ ]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 7. Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# 8. Operators

In [ ]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

# 9. If-Else

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
celcius = float(input('enter the temp in celcius'))

faren = celcius * (9/5) + 32

print(faren,'F')

enter the temp in celcius43
109.4 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here

a = 3
b = 5

temp = a
a = b
b = temp

print(a)
print(b)

5
3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
p1x = int(input('enter x cood of 1st point'))
p1y = int(input('enter y cood of 1st point'))
p2x = int(input('enter x cood of 2nd point'))
p2y = int(input('enter y cood of 2nd point'))

distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print(round(distance,2))

enter x cood of 1st point0
enter y cood of 1st point0
enter x cood of 2nd point2
enter y cood of 2nd point2
2.83

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

Hint - si = (p * t * r)/100

In [ ]:
# Write your code here
p = int(input('Enter amount'))
t = int(input('Enter time period'))
r = float(input('Enter rate'))

interest = (p*t*r)/100

print('the interest is',interest)

Enter amount10000
Enter time period2
Enter rate5
the interest is 1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

Hint - Thus, the sum of the squares of first n natural numbers =  n(n+1)(2n+1)/6

In [ ]:
# Write your code here
n = int(input('enter the number'))

result = (n*(n+1)*(2*n + 1))/6
print(result)

enter the number5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

Hint - an = a + (n â€“ 1)d

In [ ]:
# Write your code here
first_term = int(input('enter 1st term'))
second_term = int(input('enter 2nd term'))
n = int(input('enter the value of n'))

d = second_term - first_term

an = first_term + (n-1)*d

print(an)

enter 1st term3
enter 2nd term6
enter the value of n5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
n1 = int(input('num1'))
d1 = int(input('den1'))
n2 = int(input('num2'))
d2 = int(input('den2'))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

num13
den17
num22
den211
47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height10
breadth19
length10
height of glass5
radius of the glass2
no of glasses 30

In [ ]:
math.floor(6.7)

6

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [ ]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

4

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number666
18

# If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailsrhreh
enter passworderhetjh
Not correct

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# min of 3 number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num4
second num1
third num10
smallest is 1

In [ ]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
2
balance

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
# math
import math

math.sqrt(196)

14.0

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

88

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2022-11-08 15:50:21.228643

In [ ]:
help('modules')

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
/usr/local/lib/python3.7/dist-packages/caffe2/python/__init__.py:9: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.

Cython              collections         kaggle              requests_oauthlib
IPython             colorcet            kanren              resampy
OpenGL              colorlover          kapre               resource
PIL                 colorsys            keras               rlcompleter
ScreenResolution    community           keras_preprocessing rmagic
__future__          compileall          keyword             rpy2
_abc                concurrent          kiwisolver          rsa
_ast                confection          korean_lunar_calendar runpy
_asyncio            configparser        langcodes           samples
_bisect             cons                lib2to3             sched
_blake2             contextlib          libfuturize         scipy
_bootlocale         contextlib2         libpasteurize       scs
_bz2                contextvars         librosa             seaborn
_cffi_backend       convertdate         lightgbm            secrets
_codecs             copy                linecache           select
_codecs_cn          copyreg             llvmlite            selectors
_codecs_hk          crashtest           lmdb                send2trash
_codecs_iso2022     crcmod              locale              setuptools
_codecs_jp          crypt               locket              setuptools_git
_codecs_kr          csimdjson           logging             shapely
_codecs_tw          csv                 lsb_release         shelve
_collections        ctypes              lunarcalendar       shlex
_collections_abc    cufflinks           lxml                shutil
_compat_pickle      curses              lzma                signal
_compression        cv2                 macpath             simdjson
_contextvars        cvxopt              mailbox             site
_crypt              cvxpy               mailcap             sitecustomize
_csv                cycler              markdown            six
_ctypes             cymem               markupsafe          skimage
_ctypes_test        cython              marshal             sklearn
_curses             cythonmagic         marshmallow         sklearn_pandas
_curses_panel       daft                math                slugify
_cvxcore            dask                matplotlib          smart_open
_datetime           dataclasses         matplotlib_venn     smtpd
_dbm                datascience         mimetypes           smtplib
_decimal            datetime            missingno           sndhdr
_distutils_hack     dateutil            mistune             snowballstemmer
_dlib_pybind11      dbm                 mizani              socket
_dummy_thread       dbus                mlxtend             socketserver
_ecos               debugpy             mmap                socks
_elementtree        decimal             modulefinder        sockshandler
_functools          decorator           more_itertools      softwareproperties
_hashlib            defusedxml          moviepy             sortedcontainers
_heapq              descartes           mpmath              soundfile
_imp                difflib             msgpack             spacy
_io                 dill                multidict           spacy_legacy
_json               dis                 multipledispatch    spacy_loggers
_locale             distributed         multiprocessing     sphinx
_lsprof             distutils           multitasking        spwd
_lzma               dlib                murmurhash          sql
_markupbase         dns                 music21             sqlalchemy
_md5                docs                natsort             sqlite3
_multibytecodec     doctest             nbconvert           sqlparse
_multiprocessing    docutils            nbformat            sre_compile
_opcode             dopamine            netCDF4             sre_constants
_operator           dot_parser          netrc               sre_parse
_osx_support        dummy_threading     networkx            srsly
_pickle             easydict            nibabel             ssl
_plotly_future_     ecos                nis                 stan
_plotly_utils       editdistance        nisext              stat
_posixsubprocess    ee                  nltk                statistics
_py_abc             email               nntplib             statsmodels
_pydecimal          en_core_web_sm      notebook            storemagic
_pyio               encodings           ntpath              string
_pyrsistent_version entrypoints         nturl2path          stringprep
_pytest             enum                numba               struct
_queue              ephem               numbergen           subprocess
_random             erfa                numbers             sunau
_remote_module_non_scriptable errno               numexpr             symbol
_rinterface_cffi_abi et_xmlfile          numpy               sympy
_rinterface_cffi_api etils               oauth2client        sympyprinting
_scs_direct         etuples             oauthlib            symtable
_scs_indirect       fa2                 ogr                 sys
_sha1               fastai              okgrade             sysconfig
_sha256             fastcore            opcode              syslog
_sha3               fastdownload        openpyxl            tables
_sha512             fastdtw             operator            tabnanny
_signal             fastjsonschema      opt_einsum          tabulate
_sitebuiltins       fastprogress        optparse            tarfile
_socket             fastrlock           os                  tblib
_soundfile          faulthandler        osgeo               telnetlib
_sqlite3            fcntl               osqp                tempfile
_sre                feather             osqppurepy          tenacity
_ssl                filecmp             osr                 tensorboard
_stat               fileinput           ossaudiodev         tensorboard_data_server
_string             filelock            packaging           tensorboard_plugin_wit
_strptime           firebase_admin      palettable          tensorflow
_struct             fix_yahoo_finance   pandas              tensorflow_datasets
_symtable           flask               pandas_datareader   tensorflow_estimator
_sysconfigdata_m_linux_x86_64-linux-gnu flatbuffers         pandas_gbq          tensorflow_gcs_config
_sysconfigdata_m_x86_64-linux-gnu fnmatch             pandas_profiling    tensorflow_hub
_testbuffer         folium              pandocfilters       tensorflow_io_gcs_filesystem
_testcapi           formatter           panel               tensorflow_metadata
_testimportmultiple fractions           param               tensorflow_probability
_testmultiphase     frozenlist          parser              termcolor
_thread             fsspec              parso               terminado
_threading_local    ftplib              partd               termios
_tkinter            functools           past                test
_tracemalloc        future              pasta               testpath
_warnings           gast                pastel              tests
_weakref            gc                  pathlib             text_unidecode
_weakrefset         gdal                pathy               textblob
_xxtestfuzz         gdalconst           patsy               textwrap
_yaml               gdalnumeric         pdb                 thinc
abc                 gdown               pep517              this
absl                genericpath         pexpect             threading
aeppl               gensim              pickle              threadpoolctl
aesara              geographiclib       pickleshare         tifffile
aifc                geopy               pickletools         time
aiohttp             getopt              pip                 timeit
aiosignal           getpass             pipes               tkinter
alabaster           gettext             piptools            tlz
albumentations      gi                  pkg_resources       token
altair              gin                 pkgutil             tokenize
antigravity         glob                platform            toml
apiclient           glob2               plistlib            tomli
appdirs             gnm                 plotly              toolz
apt                 google_auth_httplib2 plotlywidget        torch
apt_inst            google_auth_oauthlib plotnine            torchaudio
apt_pkg             google_drive_downloader pluggy              torchgen
aptsources          googleapiclient     pooch               torchsummary
argparse            googlesearch        poplib              torchtext
array               graphviz            portpicker          torchvision
arviz               greenlet            posix               tornado
ast                 gridfs              posixpath           tqdm
astor               grp                 pprint              trace
astropy             grpc                prefetch_generator  traceback
astunparse          gspread             preshed             tracemalloc
async_timeout       gspread_dataframe   prettytable         traitlets
asynchat            gym                 profile             tree
asyncio             gym_notices         progressbar         tty
asyncore            gzip                promise             turtle
asynctest           h5py                prompt_toolkit      tweepy
atari_py            hashlib             prophet             typeguard
atexit              heapdict            pstats              typer
atomicwrites        heapq               psutil              types
attr                hijri_converter     psycopg2            typing
attrs               hmac                pty                 typing_extensions
audioop             holidays            ptyprocess          tzlocal
audioread           holoviews           pvectorc            unicodedata
autograd            html                pwd                 unification
autoreload          html5lib            py                  unittest
babel               http                py_compile          uritemplate
backcall            httpimport          pyarrow             urllib
base64              httplib2            pyasn1              urllib3
bdb                 httplib2shim        pyasn1_modules      uu
bin                 httpstan            pyclbr              uuid
binascii            humanize            pycocotools         vega_datasets
binhex              hyperopt            pycparser           venv
bisect              idna                pyct                vis
bleach              imageio             pydantic            warnings
blis                imagesize           pydata_google_auth  wasabi
bokeh               imaplib             pydoc               wave
boost               imblearn            pydoc_data          wcwidth
branca              imgaug              pydot               weakref
bs4                 imghdr              pydot_ng            webargs
bson                imp                 pydotplus           webbrowser
builtins            importlib           pydrive             webencodings
bz2                 importlib_metadata  pyemd               werkzeug
cProfile            importlib_resources pyexpat             wheel
cachecontrol        imutils             pygments            widgetsnbextension
cached_property     inflect             pygtkcompat         wordcloud
cachetools          inspect             pylab               wrapt
caffe2              intervaltree        pylev               wsgiref
calendar            io                  pymc                xarray
catalogue           ipaddress           pymeeus             xarray_einstats
certifi             ipykernel           pymongo             xdrlib
cffi                ipykernel_launcher  pymystem3           xgboost
cftime              ipython_genutils    pyparsing           xkit
cgi                 ipywidgets          pyrsistent          xlrd
cgitb               isympy              pysndfile           xlwt
chardet             itertools           pytest              xml
charset_normalizer  itsdangerous        python_utils        xmlrpc
chunk               jax                 pytz                xxlimited
clang               jaxlib              pyviz_comms         xxsubtype
click               jieba               pywt                yaml
client              jinja2              pyximport           yarl
clikit              joblib              qdldl               yellowbrick
cloudpickle         jpeg4py             qudida              zict
cmake               json                queue               zipapp
cmath               jsonschema          quopri              zipfile
cmd                 jupyter             random              zipimport
cmdstanpy           jupyter_client      re                  zipp
code                jupyter_console     readline            zlib
codecs              jupyter_core        regex               zmq
codeop              jupyterlab_plotly   reprlib
colab               jupyterlab_widgets  requests

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [ ]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo7
galat!guess higher
guess karo50
galat!guess lower
guess karo30
galat!guess higher
guess karo40
galat!guess lower
guess karo35
galat!guess lower
guess karo32
galat!guess higher
guess karo33
correct guess
attempts 7

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [ ]:
# For loop examples

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# code here

In [ ]:
# For loop vs While loops (When to use what?)

# Nested Loops

In [ ]:
# Examples

In [ ]:
# Program - Unique combination of 1,2,3,4
# Program - Pattern 1 and 2

### Pattern 1


*** <br>
**** <br>
***<br>

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# Break demo

In [ ]:
# Break example (Linear Search) -> Prime number in a given range

In [ ]:
# Continue demo

In [ ]:
# Continue Example (Ecommerce)

In [ ]:
# Pass demo

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 Ã— 4 Ã— 3 Ã— 2 Ã— 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC:'))

if ctc < 5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:1200000
You in hand monthly salary will be- 82000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

Hint - Sum of all angles is 180 and all angles are positive

In [ ]:
# Write code here
first = int(input('enter the 1st angle'))
second = int(input('enter the 2nd angle'))
third = int(input('enter the 3rd angle'))

if (first+second+third) == 180 and first>0 and second>0 and third>0:
  print('forms a triangle')
else:
  print('does not form a triangle')

enter the 1st angle30
enter the 2nd angle180
enter the 3rd angle-30
does not form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
# write your code here
cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if cost_price < selling_price:
    print('Profit')
elif cost_price > selling_price:
    print('Loss')
else:
    print('No Loss No Gain')

Enter cost price-6000
Enter selling price-12000
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

Hint
- 1 cm = 0.032ft
- 1km = 0.62
- 1 USD = 80 INR

In [ ]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cm = float(input('enter the cm value'))
  print('ft value is',0.032*cm)
elif menu == '2':
  km = float(input('enter the km value'))
  print('miles value is',km*0.62)
elif menu == '3':
  usd = float(input('enter usd'))
  print('inr',usd*80)
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
4

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here

num1,num2 = 0,1

for i in range(10):
  print(num1)

  next = num1 + num2

  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 Ã— 4 Ã— 3 Ã— 2 Ã— 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num = int(input('enter the number'))

fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

enter the number5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

enter the number123456
654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
N = int(input('enter the number'))
sum = 0
i = 1

while i < N+1:
  if i % 5 == 0:
    i+=1
    continue

  sum += i

  if sum > 300:
    sum = sum - i
    break

  i+=1

print(sum)

enter the number50
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0

while True:
  num = int(input('enter number'))
  if num == 0:
    break
  sum = sum + num
  count = count + 1

print('sum',sum)
print('avg',sum/count)

enter number1
enter number2
enter number3
enter number4
enter number5
enter number0
sum 15
avg 3.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
L = []
for i in range(2000,3201):
  if i % 7 == 0 and i % 5 != 0:
    L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
L = []
for i in range(1000,3001):
  flag = True

  curr = i

  while curr > 0:
    last = curr%10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10

  if flag == True:
    L.append(str(i))

print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
pos = [0,0]
while True:
  s = input('Enter the robot path')
  if s == '!':
    break
  direction = s.split()[0]
  steps = int(s.split()[1])

  if direction == 'UP':
    pos[1] = pos[1] + steps
  elif direction == 'DOWN':
    pos[1] = pos[1] - steps
  elif direction == 'LEFT':
    pos[0] = pos[0] - steps
  elif direction == 'RIGHT':
    pos[0] = pos[0] + steps
  else:
    pass

print('new pos',pos)
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot pathUP 10
Enter the robot pathDOWN 5
Enter the robot pathLEFT 13
Enter the robot path!
new pos [-13, 5]
13.92838827718412

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num):
  if num%i == 0:
    flag = False
    break

if flag == True:
  print('Prime')
else:
  print('Not Prime')

enter the num21
Not Prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
- Range will be provided by the user<br>

An **Armstrong number** of *n* digits is a number such that the **sum of its digits each raised to the power of n** equals the number itself.
For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

for num in range(start, end+1):
    temp = num
    sum = 0
    order = len(str(num))
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

Enter the start of the range: 0
Enter the end of the range: 200
0
1
2
3
4
5
6
7
8
9
153

`Explanation`


## âœ… What is an Armstrong Number?

An **Armstrong number** of *n* digits is a number such that the **sum of its digits each raised to the power of n** equals the number itself.

* For **3-digit** numbers (our case here):
  A number is Armstrong if:

  $$
  abc = a^3 + b^3 + c^3
  $$

  Examples:

  * 153 â†’ $1^3 + 5^3 + 3^3 = 153$ âœ…
  * 370 â†’ $3^3 + 7^3 + 0^3 = 370$ âœ…

---

## ðŸ’¡ Concepts Used:

| Concept       | What it means                                    |
| ------------- | ------------------------------------------------ |
| `for` loop    | To check every number in a range                 |
| Type casting  | `int(input(...))` converts user input to integer |
| `while` loop  | Used to break down a number into digits          |
| `**` operator | This means "raise to power"                      |
| `%` operator  | Gives the last digit of a number                 |
| `//` operator | Removes the last digit (integer division)        |

---

## ðŸ§  Code Breakdown

```python
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
```

* ðŸ”¹ Asks the user to input a **start** and **end** for the range of numbers to check.
* ðŸ”¹ `int()` converts input from text to a number.

---

```python
for num in range(start, end + 1):
```

* Loops through each number in the user-given range (inclusive).

---

```python
    temp = num
    sum = 0
    order = len(str(num))
```

* `temp` stores the number temporarily (we'll use this to extract digits).
* `sum` will keep track of the sum of the cubes of the digits.
* `order` is the number of digits in the number.
  For example, `153` â†’ `order = 3`.

---

```python
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
```

### ðŸ”„ What happens here:

* Repeatedly extracts digits using `% 10` (gets last digit).
* Raises that digit to the `order` (cube for 3-digit, etc.).
* Adds that value to `sum`.
* Removes the last digit using `// 10`.

---

```python
    if num == sum:
        print(num)
```

* âœ… Finally, if the original number equals the calculated sum of its digits raised to the power â†’ it's an **Armstrong number**, so we print it!

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

# Write code here
h = int(input('Enter hours hand-'))
m = int(input('Enter minute hand-'))

# validate the input
if (h < 0 or m < 0 or h > 12 or m > 60):
    print('Wrong input')

# Idea is to minute angle - hour agnle from clockwise from 12 hour point

# 1 minute in minute angle manke 6 degree. (60 minute -> 360 degree)
m_angle = m*6

# every hour point yeilds to 30degree-- 12 hours-360degree plus if minute hand moves hour hands move too
# Every minute after hour hand take 0.5 degree movement. clockwise
h_angle = h*30 + m*0.5

# Take abs difference b/w them
angle = abs(h_angle - m_angle)


if angle>180:
    print(360-angle)
else:
    print(angle)

Enter hours hand-12
Enter minute hand-00
0.0

`Explaination:` This code calculates the angle between the hour and minute hand on a clock. It takes user input for the hour and minute hand positions, validates the input to make sure it is within the range of a clock (0-12 for hours and 0-60 for minutes), then calculates the angles of the hour and minute hand based on their position on the clock. It then finds the difference between the two angles and takes the absolute value of that difference. It then checks if the angle is greater than 180, if it is, it prints the difference of 360 and the angle, else it prints the angle. The final output is the angle between the hands on the clock.

Given time:

* `H` = hour hand position (0â€“12)
* `M` = minute hand position (0â€“59)

We want to:

* âœ… Find the **smaller** angle between the hour and minute hands
* âœ… **Floor** the result (i.e., ignore decimal part using `int()`)

---

## ðŸ”‘ Key Concepts:

| Concept                         | Value                                 |
| ------------------------------- | ------------------------------------- |
| Clock is a circle               | 360Â°                                  |
| 1 hour = 30Â°                    | $360Â° / 12 = 30Â°$  (For hour hand, as for hour hand full circle is 12 Hrs)                   |
| 1 minute = 6Â°                   | $360Â° / 60 = 6Â°$  (For minute hand, as for minute hand full circle is 60 minute)                     |
| Hour hand moves 0.5Â° per minute | Because it moves gradually, not jumps |

---

## ðŸ” Step-by-step Code Explanation

```python
h = int(input('Enter hours hand-'))
m = int(input('Enter minute hand-'))
```

* ðŸ“¥ Input time from user: `h` for hours, `m` for minutes

---

### âœ… Step 1: Validate Input

```python
if (h < 0 or m < 0 or h > 12 or m > 60):
    print('Wrong input')
```

* Makes sure input is within correct range.
  (Optional: you might also convert `h == 12` to `0` and `m == 60` to `0` internally)

---

### âœ… Step 2: Calculate minute hand angle

```python
m_angle = m * 6
```

* ðŸ”„ 1 minute = 6Â°
* So, minute hand at `m` minutes = `m Ã— 6` degrees from 12 oâ€™clock

---

### âœ… Step 3: Calculate hour hand angle

```python
h_angle = h * 30 + m * 0.5
```

* 1 hour = 30Â°
* BUT hour hand also **moves a little with minutes** â†’ 0.5Â° per minute
  So we add $m Ã— 0.5$

> Example: 9:30
> â†’ `h_angle = 9Ã—30 + 30Ã—0.5 = 270 + 15 = 285Â°`
![image.png]()
---

### âœ… Step 4: Find angle difference

```python
angle = abs(h_angle - m_angle)
```

* ðŸ”„ Use `abs()` to get the **positive** difference

---

### âœ… Step 5: Find smaller of the two angles

```python
if angle > 180:
    print(int(360 - angle))  # Floor using int()
else:
    print(int(angle))
```

* Since the clock is circular, the angle between the hands can go **clockwise or counterclockwise**.
* We always want the **smaller** angle, so we take `min(angle, 360 - angle)`
* Finally, **floor** the value using `int()` to remove decimals

At 9:30,

the angle between the hour and minute hands is:
`
285 - 180 = 105
`
this is alreadyÂ smaller than 180 soÂ  this is our final answer.


![image.png]()


---

## ðŸ§ª Example

### Input:

```
Enter hours hand- 9
Enter minute hand- 0
```

### Output:

```
90
```

### Why?

* Hour hand at 9 â†’ $9Ã—30 = 270Â°$
* Minute hand at 0 â†’ $0Ã—6 = 0Â°$
* Absolute difference = 270Â°
* $360 - 270 = 90Â°$ âœ…

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here
print("Enter both Rectangel points coordinates <x y>")

l1_x, l1_y = list(map(int, input('Enter L1 coordinate value  (Two value space seperated):').split()))
r1_x, r1_y = list(map(int, input('Enter r1 coordinate value,(Two value space seperated):').split()))

l2_x, l2_y = list(map(int, input('Enter L2 coordinate value,(Two value space seperated):').split()))
r2_x, r2_y = list(map(int, input('Enter r2 coordinate value,(Two value space seperated):').split()))

# if rectangle has area 0, no overlap
if l1_x == r1_x or l1_y == r1_y or r2_x == l2_x or l2_y == r2_y:
  print("Don't Overlap")

# If one rectangle is on left side of other
elif l1_x > r2_x or l2_x > r1_x:
  print("Don't Overlap")

# If one rectangle is above other
elif r1_y > l2_y or r2_y > l1_y:
  print("Don't Overlap")
else:
  print("Overlap")

`Explaination:` The given code takes the coordinates of two rectangles from the user and checks if they overlap.
* It does this by first checking if either rectangle has an area of 0 (i.e. one of the sides has length 0), in which case it prints "Don't Overlap".
* It then checks if one rectangle is entirely to the left or above the other, in which case it also prints "Don't Overlap". If none of these conditions are true, it prints "Overlap".

Let's walk through code:

---

### ðŸ§  **Concept:**

Each rectangle is defined by:

* **Top-left corner:** $L(x, y)$
* **Bottom-right corner:** $R(x, y)$

Rectangles are axis-aligned (i.e., not rotated). Youâ€™re asked to check if these two rectangles **overlap**.

Two rectangles **do not** overlap if:

1. One is completely **to the left** of the other.
2. One is completely **above** the other.

Otherwise, they **overlap** â€” even if itâ€™s just at the edge.

---

### âœ… **Code Summary and Logic Explained**

```python
# User enters coordinates of 2 rectangles
l1_x, l1_y = ...  # Top-left of rect1
r1_x, r1_y = ...  # Bottom-right of rect1

l2_x, l2_y = ...  # Top-left of rect2
r2_x, r2_y = ...  # Bottom-right of rect2
```

#### Step-by-step Logic

1. âœ… **Zero area check:**

   ```python
   if l1_x == r1_x or l1_y == r1_y or r2_x == l2_x or l2_y == r2_y
   ```

   If any rectangle has width or height = 0, itâ€™s not valid â†’ no overlap.

2. âœ… **Check if one rectangle is entirely to the left of the other:**

   ```python
   elif l1_x > r2_x or l2_x > r1_x
   ```

3. âœ… **Check if one rectangle is entirely above the other:**

   ```python
   elif r1_y > l2_y or r2_y > l1_y
   ```

   * Remember: In most coordinate systems (like computer graphics), the **y-coordinate increases going down**.
   * So "r1\_y > l2\_y" means r1 is **above** l2.

4. âœ… **If none of the above conditions are true:**

   ```python
   else:
       print("Overlap")
   ```

---

### ðŸ” **Example**

Letâ€™s say:

```
Rectangle 1: L1 = (0, 10), R1 = (10, 0)
Rectangle 2: L2 = (5, 5), R2 = (15, 0)
```

```
l1_x = 0, l1_y = 10, r1_x = 10, r1_y = 0
l2_x = 5, l2_y = 5, r2_x = 15, r2_y = 0
```
They overlap because:

* R1 is not to the left of L2

    `l1_x > r2_x or l2_x > r1_x` evaluates to False

* R1 is not above L2

    `r1_y > l2_y or r2_y > l1_y`  evaluates to False

* Their x and y intervals intersect

They share common area â†’ so they **overlap**.


![image.png]()---

### âœ… Output:

* If rectangles **do overlap** â†’ `"Overlap"`
* If they **do not overlap** â†’ `"Don't Overlap"`

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n2
2.0

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows10
*
**
***
****
*****
******
*******
********
*********
**********

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows4
1
121
12321
1234321

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range10
enter upper range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

IndexError: ignored

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: ignored

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [ ]:
print("*"*50)

**************************************************

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'Pune' > 'pune'

False

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

'world'

In [ ]:
not 'hello'

False

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello world')

11

In [ ]:
max('hello world')

'w'

In [ ]:
min('hello world')

' '

In [ ]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Count/Find/Index

In [ ]:
'my name is nitish'.count('i')

3

In [ ]:
'my name is nitish'.find('x')

-1

In [ ]:
'my name is nitish'.index('x')

ValueError: ignored

## endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

False

In [ ]:
'my name is nitish'.startswith('1my')

False

## format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

False

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'123abc'.isdigit()

False

In [ ]:
'first-name'.isidentifier()

False

## Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

## Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

## Strip

In [ ]:
'nitish                           '.strip()

'nitish'

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailsupport@campusx.in
support

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringnitish
what would like to removei
ntsh

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>

### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
# Code here

rows = int(input('enter the rows'))

for i in range(0,rows):
  for j in range(rows-i,0,-1):
    print(j,end=' ')
  print()

enter the rows5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
# Code here
rows = int(input('enter the rows'))

for i in range(1,rows+1):
  for j in range(0,i):
    print('*',end=' ')
  print()

for i in range(1,rows):
  for j in range(rows-i,0,-1):
    print('*',end=' ')
  print()

enter the rows5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
       * *
      * * *
   * * * * * * *
* * * * * * * * *

In [ ]:
# Code here
rows = 6
for i in range(1,rows+1):
  print(' '*rows,end='')
  print('* '*i)
  rows = rows - 1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
# Code here
rows = 5

for i in range(1,rows+1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [ ]:
# Code here
x = 10
n = 5

sum = 1
s = ''
print('1 + ',end='')
for i in range(2,n+1):
  sum = sum + x**i/i
  s = s + 'x^{}/{} +'.format(i,i)
print(s[:-1])
print(sum)

1 + x^2/2 +x^3/3 +x^4/4 +x^5/5
22884.333333333332

### `Problem 6`: The natural logarithm can be approximated by the following series.

![temp.jpg]()

If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [ ]:
# Code here
x = 10
n = 5

sum = 0
s = ''
for i in range(1,n+1):
  sum = sum + (1/i)*((x-1)/x)**i
  s = s + '(1/{})*((x-1)/x)^{} +'.format(i,i)
print(s[:-1])
print(sum)

(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4 +(1/5)*((x-1)/x)^5
1.8301230000000004

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [ ]:
# Code here
n = int(input('enter the number of terms'))

start = 2
sum = 0

for i in range(0,n):
  if i < n-1:
    print(start,end='+')
  else:
    print(start)

  sum = sum + start
  start = start*10 + 2

print(sum)

enter the number of terms5
2+22+222+2222+22222
24690

###`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [ ]:
# Code here
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for m in range(1,5):
        print(i,j,k,m)

###`Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [ ]:
# Code here

n = int(input('enter the number'))
binary = []
while n > 0:

  binary.append(n%2)
  n = n//2

for i in binary[::-1]:
  print(i,end='')

enter the number3
11

###`Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [ ]:
# Code here
x = int(input('enter 1st number'))
y = int(input('enter 2nd number'))

if x>y:
  greater = x
else:
  greater = y

while True:
  if (greater % x == 0) and (greater % y == 0):
    lcm = greater
    break

  greater = greater + 1

print(lcm)

enter 1st number10
enter 2nd number15
30

In [ ]:
# Code here
x = int(input('enter 1st number'))
y = int(input('enter 2nd number'))

if x<y:
  smaller = x
else:
  smaller = y

for i in range(1,smaller+1):
  if (x % i == 0) and (y % i == 0):
    hcf = i

print(hcf)

enter 1st number12
enter 2nd number16
4

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [ ]:
# Code here

inp = 'Data science Mentorship Program'

res = ''

for i in inp.split():
  res = res + i[0].upper()

print(res)

DSMP

###`Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [ ]:
# Code here

s1 = input('enter the 1st string')
s2 = input('enter the 2nd string')

print(s1[0:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):])

enter the 1st stringwill
enter the 2nd stringdo
widoll

### ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [ ]:
# Code here

s = 'PyNaTive'

upper = ''
lower = ''

for i in s:
  if i.islower():
    lower = lower + i
  else:
    upper = upper + i

print(lower + upper)

yaivePNT

### `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [ ]:
# Code here
s = 'hel123O4every093'

sum = 0
count = 0

for i in s:
  if i.isdigit():
    sum = sum + int(i)
    count += 1

print(sum)
print(sum/count)
print(count)

22
3.142857142857143
7

### `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [ ]:
# Code here
s = 'I am 25 years and 10 months old'

res = ''

for i in s:
  if i.isdigit():
    res = res + i

print(res)

2510

### `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [ ]:
# Code here
s = input('enter the string')

if len(s)%2 == 0:
  s1 = s[0:len(s)//2]
  s2 = s[len(s)//2:]
else:
  s1 = s[0:len(s)//2]
  s2 = s[len(s)//2 + 1:]

if s1 == s2:
  print('symmetrical')
else:
  print('not symmetrical')

enter the stringmadam
not symmetrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [ ]:
# Code here
s = 'code practice quiz geeks'

L = []

for i in s.split():
  L.append(i)

L = L[::-1]
print(" ".join(L))

geeks quiz practice code

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango"
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [ ]:
# Code here
A = "apple banana mango"
B = "banana fruits mango"

L = []

for i in A.split():
  if i not in B and i not in L:
    L.append(i)

for j in B.split():
  if j not in A and j not in L:
    L.append(j)

print(L)

['apple', 'fruits']

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [ ]:
# Code here
s = 'We can learn data science through campusx mentorship program.'
word = 'campusx'

pos = 0

for i in s.split():
  pos += 1
  if i == word:
    break

print(pos)

7

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [ ]:
# Code here
s = 'aaaabbbbbccccdddeeeeffff'

res = ''

for i in s:
  if i not in res:
    res = res + i

print(res)

abcdef

In [ ]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)

In [ ]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]
for i in A:
  for j in B:
    print(i,j)

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]

for i in A:
  for j in B:
    for k in range(1000000):
      print(i,j)

In [ ]:
L = [1,2,3,4,5]

for i in range(0,len(L)//2):
  other = len(L) - i -1
  temp = L[i]
  L[i] = L[other]
  L[other] = temp

print(L)

[5, 4, 3, 2, 1]

In [ ]:
n = 10
k = 0;
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
        k = k + n / 2;

print(k)

40.0

In [ ]:
a = 10
b = 3

if b <= 0:
  print(-1)
div = a//b

print(a-div-b)

4

In [ ]:
n = 345

sum = 0
while n>0:
  sum = sum + n%10
  n = n // 10

print(sum)

12

In [ ]:
def fib(n):
  if n == 1 or n == 0:
    return 1
  else:
    return fib(n-1) + fib(n-2)

In [ ]:
# Subset Algo

           {3T(n-1) if n>0
    T(n) = {1, otherwise

           {2T(n-1)-1 if n>0
    T(n) = {1, otherwise

# [![CampusX](https://drive.google.com/uc?id=191IBXIvjOsnlR22ReUVFSEW0zJJBhArQ) CampusX Mentorship Program](http://campusx.in)

# Python interview questions & answers for [lecture 1](https://www.youtube.com/watch?v=1z5-O7-5AXk&t=40s), [lecture 2](https://www.youtube.com/watch?v=JCkIrdrZEE8) and [lecture 3](https://www.youtube.com/watch?v=6HAu0Y9BjA4):

| Question No. | Question |
| :--: | :-- |
| 1 | What is Python? What are the benefits of using Python? |
| 2 | What is a dynamically typed language? |
| 3 | What is an Interpreted language? |
| 4 | What is PEP 8 and why is it important? |
| 5 | What are the common built-in data types in Python? |
| 6 | Explain the ternary operator in Python. |
| 7 | What Does the â€˜isâ€™ Operator Do? |
| 8 | Disadvantages of Python. |
| 9 | How strings are stored in Python? |
| 10 | What is Zen of Python? |
| 11 | Identity operator (is) vs ==? |
| 12 | What does _ variables represent in Python? |
| 13 | Modules vs packages vs Library |
| 14 | Why 0.3 â€“ 0.2 is not equal to 0.1 in Python? |
| 15 | Python Docstrings |

### **`1. What is Python? What are the benefits of using Python?`**

Python is a high-level, interpreted, general-purpose programming language. Being a general-purpose language, it can be used to build almost any type of application with the right tools/libraries. Additionally, python supports objects, modules, threads, exception-handling, and automatic memory management which help in modelling real-world problems and building applications to solve these problems.

**Benefits of using Python:**
- Python is a general-purpose programming language that has a simple, easy-to-learn syntax that emphasizes readability and therefore reduces the cost of program maintenance. Moreover, the language is capable of scripting, is completely open-source, and supports third-party packages encouraging modularity and code reuse.
- Its high-level data structures, combined with dynamic typing and dynamic binding, attract a huge community of developers for Rapid Application Development and deployment.

### **`2. What is a dynamically typed language?`**

Before we understand a dynamically typed language, we should learn about what typing is. **Typing** refers to type-checking in programming languages. In a **strongly-typed** language, such as Python, **"1" + 2** will result in a type error since these languages don't allow for "type-coercion" (implicit conversion of data types). On the other hand, a **weakly-typed** language, such as Javascript, will simply output **"12"** as result.

Type-checking can be done at two stages:
- **Static -** Data Types are checked before execution.
- **Dynamic -** Data Types are checked during execution.
Python is an interpreted language, executes each statement line by line and thus type-checking is done on the fly, during execution. Hence, Python is a Dynamically Typed Language.

Read more - https://www.techtarget.com/whatis/definition/strongly-typed#:~:text=In%20computer%20programming%2C%20a%20programming,types%20of%20objects%20and%20variables.

### **`3. What is an Interpreted language?`**

An Interpreted language executes its statements line by line. Languages such as Python, Javascript, R, PHP, and Ruby are prime examples of Interpreted languages. Programs written in an interpreted language runs directly from the source code, with no intermediary compilation step.

### **`4. What is PEP 8 and why is it important?`**

PEP stands for **Python Enhancement Proposal**. A PEP is an official design document providing information to the Python community, or describing a new feature for Python or its processes. **PEP 8** is especially important since it documents the style guidelines for Python Code. Apparently contributing to the Python open-source community requires you to follow these style guidelines sincerely and strictly.

Read more - https://realpython.com/python-pep8/#:~:text=PEP%208%2C%20sometimes%20spelled%20PEP8,and%20consistency%20of%20Python%20code.

### **`5. What are the common built-in data types in Python?`**

There are several built-in data types in Python. Although, Python doesn't require data types to be defined explicitly during variable declarations type errors are likely to occur if the knowledge of data types and their compatibility with each other are neglected. Python provides `type()` and `isinstance()` functions to check the type of these variables. These data types can be grouped into the following categories-

1. **None Type:** **None** keywork represents the null values in Python. Boolean equality operation can be performed using these NoneType objects.

2. **Numeric Type:** There are three distinct numeric types - `integers`, `floating-point numbers` and `complex numbers`. Additionally, `booleans` are a sub-type of integers.

3. **Sequence Types:** According to Python Docs, there are three basic Sequence Types - `lists`, `tuples`, and `range` objects. Sequence types have the `in` and `not in` operators defined for their traversing their elements. These operators share the same priority as the comparison operations.

4. **Mapping Types:** A mapping object can map hashable values to random objects in Python. Mappings objects are mutable and there is currently only one standard mapping type, the `dictionary`.

5. **Set Types:** Currently, Python has two built-in set types - `set` and `frozenset`. `set` type is mutable and supports methods like *add()* and *remove()*. `frozenset` type is immutable and can't be modified after creation.

6. **Callable Types:** Callable types are the types to which function call can be applied. They can be **user-defined functions, instance methods, generator functions**, and some other **built-in functions, methods** and **classes**.
Refer to the documentation at [docs.python.org](https://docs.python.org/3/reference/datamodel.html) for a detailed view of the callable types.

###`Q.6. Operator Precedence.`
https://www.programiz.com/python-programming/precedence-associativity

###`Q.7. Explain the ternary operator in Python.`

Unlike C++, we donâ€™t have ?: in Python, but we have this:


> [on true] if [expression] else [on false]



If the expression is True, the statement under [on true] is executed. Else, that under [on false] is executed.

Below is how you would use it:


```
a,b=2,3
min=a if a<b else b
print(min)
```

Above will print 2.

In [ ]:
# Run this cell to see result.
a,b=14,12
print("Hi") if a<b else print("Bye")

Bye

### `Q 8. What Does the â€˜isâ€™ Operator Do?`

Identity operators<br>
In Python, is and is not are used to check if two values are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

In [ ]:
a = 1
id(a)

11126688

In [ ]:
a = 2
id(a)

11126720

In [ ]:
a = 1
b = 1

a is b

True

In [ ]:
id(a)

11126688

In [ ]:
id(b)

11126688

In [ ]:
a = 257
b = 257

a is b

False

In [ ]:
id(a)

140582907232784

In [ ]:
a == b

True

In [ ]:
id(b)

140582907232464

In [ ]:
# -5 to 256

a = -14
b = -14

a is b

False

### `Q 9: Disadvantages of Python.`

https://www.geeksforgeeks.org/disadvantages-of-python

### `Q10 How strings are stored in Python?`
- https://stackoverflow.com/questions/19224059/how-strings-are-stored-in-python-memory-model
- https://www.quora.com/How-are-strings-stored-internally-in-Python-3
- https://betterprogramming.pub/an-interviewers-favorite-question-how-are-python-strings-stored-in-internal-memory-ac0eaef9d9c2

### `Q10 What is Zen of Python?`

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.
https://en.wikipedia.org/wiki/Zen_of_Python

* Beautiful is better than ugly.
* Explicit is better than implicit.
* Simple is better than complex.
* Complex is better than complicated.
* Flat is better than nested.
* Sparse is better than dense.
* Readability counts.
* Special cases aren't special enough to break the rules.
* Although practicality beats purity.
* Errors should never pass silently.
* Unless explicitly silenced.
* In the face of ambiguity, refuse the temptation to guess.
* There should be one-- and preferably only one --obvious way to do it.
* Although that way may not be obvious at first unless you're Dutch.
* Now is better than never.
* Although never is often better than *right* now.
* If the implementation is hard to explain, it's a bad idea.
* If the implementation is easy to explain, it may be a good idea.
* Namespaces are one honking great idea -- let's do more of those!

Explained in detail here - https://inventwithpython.com/blog/2018/08/17/the-zen-of-python-explained/

### `Q11 Identity operator (is) vsÂ ==?`

->> Hereâ€™s the main difference between python â€œ==â€ vs â€œis:â€

Identity operators: The â€œisâ€ and â€œis notâ€ keywords are called identity operators that compare objects based on their identity.
Equality operator: The â€œ==â€ and â€œ!=â€ are called equality operators that compare the objects based on their values.

In [ ]:
# Case 4:
# Here variable s is assigned a list,
# and q assigned a list values same as s but on slicing of list a new list is generated
s=[1,2,3]
p=s
# cloning
q=s[:]
print("id of p", id(p))
print("Id of s", id(s))
print("id of q", id(q))
print("Comapare- s == q", s==q)
print("Identity- s is q", s is q)
print("Identity- s is p", s is p)
print("Comapare- s == p", s==p)

id of p 140582906466864
Id of s 140582906466864
id of q 140582906466944
Comapare- s == q True
Identity- s is q False
Identity- s is p True
Comapare- s == p True

In [ ]:
a = [1,2,3]
b = a[:]

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

### `Q12 What does _ variables represent inÂ Python?`

[GssksForGeeks Article](https://www.geeksforgeeks.org/underscore-_-python)

Underscore _ is considered as "I don't Care" or "Throwaway" variable in Python


* The underscore _ is used for ignoring the specific values. If you donâ€™t need the specific values or the values are not used, just assign the values to underscore.

** Ignore a value when unpacking

** Ignore the index

In [ ]:
# Ignore a value when unpacking
x, _, y = (1, 2, 3)

print("x-",x)
print("y-", y)

x- 1
y- 3
_ 2

In [ ]:
#Ignore the index

# Say we want to print hello 5 times, we don't need index value

for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello

### `Q13 Modules vs packages vs Library`

Python uses some terms that you may not be familiar with if youâ€™re coming from a different language. Among these are modules, packages, and libraries.

* A **module** is a Python file thatâ€™s intended to be imported into scripts or other modules. It often defines members like classes, functions, and variables intended to be used in other files that import it.

* A **package** is a collection of related modules that work together to provide certain functionality. These modules are contained within a folder and can be imported just like any other modules. This folder will often contain a special `__init__` file that tells Python itâ€™s a package, potentially containing more modules nested within subfolders

* A **library** is an umbrella term that loosely means â€œa bundle of code.â€ These can have tens or even hundreds of individual modules that can provide a wide range of functionality. Matplotlib is a plotting library. The Python Standard Library contains hundreds of modules for performing common tasks, like sending emails or reading JSON data. Whatâ€™s special about the Standard Library is that it comes bundled with your installation of Python, so you can use its modules without having to download them from anywhere.

These are not strict definitions. Many people feel these terms are somewhat open to interpretation. Script and module are terms that you may hear used interchangeably.

https://stackoverflow.com/questions/19198166/whats-the-difference-between-a-module-and-a-library-in-python

https://www.geeksforgeeks.org/what-is-the-difference-between-pythons-module-package-and-library/

### `Q14 Why 0.3 â€“ 0.2 is not equal to 0.1 in Python?`

The reason behind it is called â€œ*precision*â€, and itâ€™s due to the fact that computers do not compute in Decimal, but in Binary. Computers do not use a base 10 system, they use a base 2 system (also called Binary code).

https://www.geeksforgeeks.org/why-0-3-0-2-is-not-equal-to-0-1-in-python/

In [ ]:
# code
print(0.3 - 0.2)
print(0.3 - 0.2 == 0.1)

0.09999999999999998
False

### `Q 15 - Python Docstrings`

https://www.geeksforgeeks.org/python-docstrings

In [ ]:
print('hello')

hello

In [ ]:
type(3)

int

In [ ]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

In [ ]:
print(type.__doc__)

type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type

In [ ]:
s = 'have'
print(id(s))
s = s.capitalize()
print(id(s))

140582962705648
140582906473392

In [ ]:
a,b = print('hello'),print('world')

hello
world

In [ ]:
for i in range(1, 5):
    i = 3
    print(i, end=' ')

3 3 3 3

## 1. Lists

- What are Lists?
- Lists Vs Arrays
- Characterstics of a List
- How to create a list
- Access items from a List
- Editing items in a List
- Deleting items from a List
- Operations on Lists
- Functions on Lists

### What are Lists

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

![image.png]()

- Why Lists are required in programming?

## Array Vs Lists

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Speed of Execution
- Memory

In [ ]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

140163201133376
11126688
11126720
11126752
11126688
11126720
11126752

## How lists are stored in memory

## Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

## Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

## Adding Items to a List

In [ ]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

## Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
140163201056112
[2, 1, 5, 7, 0]
140163201128800

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f7a67452a90>>]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

## List Programs

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

In [ ]:
# How to take list as input from user

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300

In [ ]:
# Write a program that can convert a 2D list to 1D list

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

In [ ]:
# Write a program to check if a list is in ascending order or not

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# Write code here

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# Write code here

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
# Write code here

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
# Write code here

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# Code here

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# Write code here

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for (i,j) in zip(candy_list,no_of_items):
  print(i,'-',j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]

result = []
sum = 0

for i in list1:
  sum = sum + i
  result.append(sum)

print(result)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# Write code here
L = [2,4,6,10,1]
result = []

for i in L:
  sum = 0
  for j in L:
    if i <= j:
      sum = sum + j

  result.append(sum)

print(result)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# Write code here
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]

common = []

for i in num1:
  if i in num2:
    if i not in common:
      common.append(i)

print(common)

[67, 89, 34]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here
L = ['1ac21', '23fg', '456', '098d','1','kls']
prod_value = []
for item in L:
  product = 1
  for char in item:
    if char.isdigit():
      product = product*int(char)

  prod_value.append(prod_value)

[i[1] for i in sorted(list(zip(product_list,L)),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
# Write code here
L = ['CampusX is a channel', 'for data-science', 'aspirants.']
inp = 'a'
result = []
for i in L:
  result.extend(i.split(inp))

print(result)

['C', 'mpusX is ', ' ch', 'nnel', 'for d', 't', '-science', '', 'spir', 'nts.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
# Write code here
L = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

print(" ".join(["".join(i) for i in L]))

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# Code here
# initializing list
test_list = ["campusxIs", "bestFor", "dataScientist"]

res = []

for i in test_list:
    temp = [[]]
    for char in i:

        if char.isupper():
            temp.append([])

        temp[-1].append(char)

    temp_string = ""
    for item in temp:
        temp_string = temp_string + "".join(item) + " "
    res.append(temp_string[0:-1])

print(res)

[['c', 'a', 'm', 'p', 'u', 's', 'x'], ['I', 's']]
[['b', 'e', 's', 't'], ['F', 'o', 'r']]
[['d', 'a', 't', 'a'], ['S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']]

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# Write code here
L1 = [1,2,3,4,5,1]
L2 = [2,3,5,7,8]

union = []

for i in L1:
  if i not in union:
    union.append(i)

for j in L2:
  if j not in union:
    union.append(j)

print(union)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here
L = [[1,2,3],[4,5,6],[7,8,9]]
result = []
for i in L:
  result.append(max(i))

print(result)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here
[[j + 3*i for j in range(0,3)] for i in range(0,3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

[[row[i] for row in matrix]for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]


[item for row in matrix for item in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
t5[-1][0]

4

### Editing items

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: ignored

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: ignored

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: ignored

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
# index
t.index(50)

ValueError: ignored

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.853569507598877
Tuple time 8.347511053085327

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 9120
Tuple size 8056

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: ignored

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating Sets

In [ ]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, 4.5, (1, 2, 3), 'hello'}
{1, 2, 3}
{1, 2, 3}

TypeError: ignored

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: ignored

### Editing Items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: ignored

### Adding Items

In [ ]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)
# discard
# s.discard(50)
# print(s)
# remove
# s.remove(50)
# print(s)
# pop
# s.pop()
# clear
s.clear()
print(s)

set()

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [ ]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

### Accessing items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

### Adding key-value pair

In [ ]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

{}

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 5,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 5, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [ ]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

### Dictionary Functions

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [ ]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
  unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
  result.append([i])
  for j in test_list:
    if j[0] == i:
      result[-1].append(j[1])

print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
t = (1, 5, 7, 8, 10)

L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
  L.append(t[i]*t[i-1] + t[i]*t[i+1])

L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here
t1 = (1,2,3,0)
t2 = (1,2,3,0)

flag = True
for i,j in zip(t1,t2):
  if i == j:
    continue
  else:
    flag = False
    break
if flag:
  print('same')
else:
  print('not same')

same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]

for i in L:
  if type(i) == list:
    output[0] = output[0] + 1
  elif type(i) == set:
    output[1] = output[1] + 1
  elif type(i) == tuple:
    output[2] = output[2] + 1
  else:
    pass

print('Lists-{}\nSets-{}\nTuples-{}'.format(output[0],output[1],output[2]))

Lists-2
Sets-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
students = []

num = int(input('enter the number of applicants'))

for i in range(num):
  print('Enter details of',i+1,'applicant:')
  name = input('enter name')
  h_ed = input('enter higher education')
  p_skill = input('enter primary skill')
  yog = input('enter year of graduation')

  students.append((name,h_ed,p_skill,yog))

required_skill = input('enter required skill')
required_hed = input('enter required higher education')
required_yog = input('enter required year of graduation')

flag = False
for i in students:
  if i[1] == required_hed and i[2] == required_skill and i[3] == required_yog:
    print(i)
    flag = True

if flag == False:
  print('No such candidates')

enter the number of applicants2
Enter details of 1 applicant:
enter nameNitish
enter higher educationB.Tech
enter primary skillPython
enter year of graduation2013
Enter details of 2 applicant:
enter nameAnkit
enter higher educationB.A
enter primary skillC++
enter year of graduation2016
enter required skillPython
enter required higher educationB.Tech
enter required year of graduation2013
('Nitish', 'B.Tech', 'Python', '2013')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

result = list((s1 & s2) & s3)
print(result)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
vowels = set('aeiouAEIOU')

s = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

print('No of unique vowels-',len(s & vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
s = "010101010103"

if len(set(s)) == 2:
  print('binary')
else:
  print('not binary')

not binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
L = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in L:
  s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[item for item in lst1 if item in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_val = 0
max_key = ''
for i in test_dict:
  if max_val < len(set(test_dict[i])):
    max_val = len(set(test_dict[i]))
    max_key = i

print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res = []
for i in test_str.split():
  if i in repl_dict:
    res.append(repl_dict[i])
  else:
    res.append(i)

print(" ".join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here
test_list = ["CampusX", 10]
key_list = ["name", "id"]

n = len(test_list)

res = []

for i in range(0,n,2):
  res.append({key_list[0]: test_list[i],key_list[1]:test_list[i+1]})

print(res)

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here
L1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
L = [('A', 1), ('B', 2), ('C', 3)]
d = {}
for i,j in L:
  d[i] = [j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here

d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

res = {}

for i in sorted(d):
  res[i] = sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

### Let's create a function(with docstring)

In [ ]:
def is_even(num):
  """
  This function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  created on - 16th Nov 2022
  """
  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'pagal hai kya?'

In [ ]:
# function
# function_name(input)
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
print(type.__doc__)

type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type

### 2 Point of views

In [ ]:
is_even('hello')

'pagal hai kya?'

### Parameters Vs Arguments

### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
power()

1

In [ ]:
# positional argument
power(2,3)

8

In [ ]:
# keyword argument
power(b=3,a=2)

8

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.

def multiply(*kwargs):
  product = 1

  for i in kwargs:
    product = product * i

  print(kwargs)
  return product

In [ ]:
multiply(1,2,3,4,5,6,7,8,9,10,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)

43545600

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**salman):

  for (key,value) in salman.items():
    print(key,'->',value)

In [ ]:
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words â€œargsâ€ and â€œkwargsâ€ are only a convention, you can use any name of your choice

### How Functions are executed in memory?

### Without return statement

In [ ]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

### Variable Scope

In [ ]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

In [ ]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

In [ ]:
def h(y):
    x += 1
x = 5
h(x)
print(x)

In [ ]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

### Nested Functions

In [ ]:
def f():
  def g():
    print('inside function g')
    f()
  g()
  print('inside function f')

In [ ]:
f()

inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g
inside function g

RecursionError: ignored

In [ ]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)

In [ ]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

### Functions are 1st class citizens

In [ ]:
# type and id
def square(num):
  return num**2

type(square)

id(square)

140471717004784

In [ ]:
# reassign
x = square
id(x)
x(3)

9

In [ ]:
a = 2
b = a
b

2

In [ ]:
# deleting a function
del square

In [ ]:
square(3)

NameError: ignored

In [ ]:
# storing
L = [1,2,3,4,square]
L[-1](3)

9

In [ ]:
s = {square}
s

{<function __main__.square(num)>}

In [ ]:
# returning a function

In [ ]:
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3,4)
print(val)

In [ ]:
# function as argument

In [ ]:
def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

### Benefits of using a Function

- Code Modularity
- Code Readibility
- Code Reusability

### Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

![image.png]()

In [ ]:
# x -> x^2
lambda x:x**2

In [ ]:
# x,y -> x+y
a = lambda x,y:x+y
a(5,2)

7

#### Diff between lambda vs Normal Function

- No name
- lambda has no return value(infact,returns a function)
- lambda is written in 1 line
- not reusable

Then why use lambda functions?<br>
**They are used with HOF**

In [ ]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

In [ ]:
# odd or even
a = lambda x:'even' if x%2 == 0 else 'odd'
a(6)

'even'

### Higher Order Functions

In [ ]:
# Example

def square(x):
  return x**2

def cube(x):
  return x**3

# HOF
def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))

  print(output)

L = [1,2,3,4,5]

transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

### Map

In [ ]:
# square the items of a list
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

### Filter

In [ ]:
# numbers greater than 5
L = [3,4,5,6,7]

list(filter(lambda x:x>5,L))

[6, 7]

In [ ]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

### Reduce

In [ ]:
# sum of all item
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
# find min
functools.reduce(lambda x,y:x if x>y else y,[23,11,45,10,1])

45

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
# Write code here
def return_unique(L):
  res = []

  for i in L:
    if i not in res:
      res.append(i)

  return res

L = [1,2,3,3,3,3,4,5]
return_unique(L)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here

def sort_sequence(seq):
  temp = []

  for i in sorted(seq.split('-')):
    temp.append(i)

  return "-".join(temp)

s = 'green-red-yellow-black-white'
sort_sequence(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here

def lower_upper(s):
  lower_count = 0
  upper_count = 0

  for i in s:
    if i.islower():
      lower_count += 1
    elif i.isupper():
      upper_count += 1
    else:
      pass

  return lower_count,upper_count

s = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
x,y = lower_upper(s)
print('No. of Lower case characters:', x)
print('No. of Upper case Characters:', y)

No. of Lower case characters: 47
No. of Upper case Characters: 9

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here

def is_even(L):
  res = []

  for i in L:
    if i % 2 == 0:
      res.append(i)

  return res

is_even([1,2,3,4,5,6,7])

[2, 4, 6]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfect_num(num):

  sum = 0

  for i in range(1,num):
    if num % i == 0:
      sum += i

  return sum == num

perfect_num(29)

False

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here

def merge_dict(*kwargs):
  d = {}

  for i in kwargs:
    d.update(i)

  return d


dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

merge_dict(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
def most_used(s):

  d = {}
  for i in s.split():
    if i in d:
      d[i] = d[i] + 1
    else:
      d[i] = 1

  max_val = max(d.values())

  for i in d:
    if d[i] == max_val:
      print(i,'->',d[i])
      break

most_used('hello hello hello you i am fine thank you')

hello -> 3

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here
import math

def histogram(L):

  min_bin = math.floor(min(L)/10)*10
  max_bin = math.ceil(max(L)/10)*10

  d={}

  for i in range(min_bin,max_bin,10):
    count = 0
    for j in L:
      if i+1<=j<=i+10:
        count+=1

    d[str(i+1) + '-' + str(i+10)] = count

  return d

histogram([13,42,15,37,22,39,41,50])

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

def shortest_dist(points,query):
  temp = []
  for i in points:
    distance = ((i[0] - query[0])**2 + (i[1] - query[1])**2)**0.5
    temp.append(distance)

  return points[sorted(list(enumerate(temp)),key=lambda x:x[1])[0][0]]


points = [(1,4),(2,-2),(13,3),(14,4)]
query = (0,0)

shortest_dist(points,query)

(2, -2)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

def bow(L):

  vocab = set()

  for i in L:
    vocab.update(i.split())

  result = []

  for i in L:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))

  print(vocab)
  return result


L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]

bow(L)

{'bat', 'sat', 'mat', 'cat', 'pat', 'rat', 'fat'}

[[0, 0, 1, 2, 0, 1, 0], [1, 1, 0, 1, 0, 1, 1], [0, 0, 1, 1, 1, 1, 0]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

# [12,15,18]

list(map(lambda x,y,z:x+y+z,L1,L2,L3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
str1="FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x:True if x.lower() in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]

import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

## Points to remember

- Codes asked are relatively easier in comparison to SDE roles
- Pythonic syntax is preferred in most companies
- Focus is on optimized code
- Start with the simplest solution and then improve
- A lot of questions are repeated so mugging up the approaches help
- Build intuition using Python Tutor

In [ ]:
# 1. Find the kth largest/smallest item from a list

L = [12,23,1,4,56,34,22,3]
k=3

L.sort(reverse=True)
print(L[k-1])

23

In [ ]:
# 2. Check if an array is sorted
L = [1,2,3,4,5]

flag = True

for i in range(0,len(L)-1):
  if L[i] > L[i+1]:
    flag = False

if flag:
  print('sorted')
else:
  print('not sorted')

sorted

In [ ]:
# 3. Find Min/Max in a given array

L = [21,1,34,23,54,11,10]

max_val = L[0]

for i in L:
  if i > max_val:
    max_val = i

print(max_val)

54

In [ ]:
# 4. Find the first element to occur k times in an array

L = [1,1,2,3,4,4,5,5]

k = 2

d = {}

for i in L:
  if i in d:
    d[i] = d[i] + 1
  else:
    d[i] = 1

for i in d:
  if d[i] == k:
    print(i)
    break

1

In [ ]:
# 5. Find duplicates in an array
L = [1,1,2,3,4,4,5,5]

d = {}

for i in L:
  if i in d:
    d[i] = d[i] + 1
  else:
    d[i] = 1

for i in d:
  if d[i] > 1:
    print(i)

1
4
5

In [ ]:
# 6. Rotate array to left d items

L = [1,2,3,4,5]
rotate = 2

for i in range(rotate):
  temp = L[0]
  for j in range(0,len(L)-1):
    L[j] = L[j+1]
  L[len(L)-1] = temp

print(L)

[3, 4, 5, 1, 2]

In [ ]:
# 7. Find intersection of 2 sorted arrays

a = [1,2,3,4,5,8]
b = [3,6,7,8]

for i in a:
  if i in b:
    print(i)

3
8

In [ ]:
a = [1,2,3,4,5,8]
b = [3,6,7,8]

i=j=0

while i<len(a) and j<len(b):
  if a[i] == b[j]:
    print(a[i])
    i+=1
    j+=1
  elif a[i] > b[j]:
    j+=1
  else:
    i+=1

3
8

In [ ]:
# 8. Find continous subarray with a given sum(given non-negative numbers)
# return the starting and ending index of the subarray
# return 1st subarray in case of multiple

L = [1,22,13,7,9,11,10]
S = 16

for i in range(0,len(L)):
  subarray = []
  for j in range(i,len(L)):
    subarray.append(L[j])
    if sum(subarray) == S:
      print(subarray)

[11, 10]

In [ ]:
L = [1,22,13,7,9,11,10]

S = 35

d = {}
curr_sum = 0

for i in range(len(L)):
  curr_sum = curr_sum + L[i]

  if (curr_sum - S) in d:
    print(d[curr_sum - S]+1,i)
    break

  d[curr_sum] = i

1 2

In [ ]:
# 9. Find element with left side smaller/right side greater in an array

L = [3,1,2,5,8,7,9]

for i in range(1,len(L)-1):
  flag = True

  for j in range(0,i):
    if L[j] > L[i]:
      flag = False

  for k in range(i+1,len(L)):
    if L[k] < L[i]:
      flag = False

  if flag:
    print(L[i])

In [ ]:
L = [3,1,2,5,8,7,9]

for i in range(1,len(L)-1):
  if max(L[:i]) < L[i] < min(L[i+1:]):
    print(L[i])

5

In [ ]:
L = [3,1,2,5,8,7,9]

max_arr = []
min_arr = []

max_val = L[0]
min_val = L[-1]

for i in L:
  if i>max_val:
    max_val = i
  max_arr.append(max_val)

for i in range(len(L)-1,-1,-1):
  if L[i] < min_val:
    min_val = L[i]

  min_arr.insert(0,min_val)


for i in range(1,len(L)-1):
  if max_arr[i-1] < L[i] < min_arr[i+1]:
    print(L[i])

5

In [ ]:
# 10. Maximum sum subarray
L = [-2,4,7,-1,6,-11,14,3,-1,-6]

d = {}

for i in range(0,len(L)):
  subarray = []
  for j in range(i,len(L)):
    subarray.append(L[j])
    d[sum(subarray)] = subarray

max_val = max(d.keys())

for i in d:
  if i == max_val:
    print(d[i])

[4, 7, -1, 6, -11, 14, 3, -1, -6]

In [ ]:

L = [-2,4,7,-1,6,-11,14,3,-1,-6]


curr_sum = 0
curr_seq = []
best_sum = L[0]
best_seq = []

for i in L:
  if i + curr_sum > i:
    curr_sum = curr_sum + i
    curr_seq.append(i)
  else:
    curr_sum = i
    curr_seq.clear()
    curr_seq.append(i)

  if curr_sum > best_sum:
    best_sum = curr_sum
    best_seq = curr_seq

print(best_sum,best_seq)

22 [4, 7, -1, 6, -11, 14, 3, -1, -6]

Q10 Maximum Sum SubArray.
Getting the best sum but Array printed is not correct.
This is happening because of list referencing.
Say we have a list a = [1,2,3] and another list b which is referencing a, so if we make changes in a, b will also change. But if we assign b like:
 b = a[:]
This time upon changing a, b will not change.

Correction in approach 1 :
d[sum(subarray)] = subarray[:] # Cloning will solve this.

Correction in Approach 2:
best_seq = curr_seq[:]

-9223372036854775808

In [ ]:
# 11. Sort arrays with items 1 and 0

In [ ]:
# 12. Move all -ve numbers to the end

In [ ]:
# 13. Maximum Product Subarray

In [ ]:
# 14. Find union of 2 arrays

In [ ]:
# 15. Find Pythagorean triplets in an array

| Question No. | Question |
| :--: | :-- |
| 1 | What is aliasing?  |
| 2 | What is garbage collection?  |
| 3 | What is mutability and why is it dangerous in certain scenarios? |
| 4 | What is cloning? |
| 5 | Differentiate between deep and shallow copies |
| 6 | How nested lists are stored in memory? |
| 7 | How strings are stored in memory |
| 8 | Why tuples take less memory than lists? |
| 9 | How set index position is decided? |
| 10 | Why mutable types are not allowed in sets/dicts |

In [ ]:
a = 4

In [ ]:
id(a)

11126784

In [ ]:
id(4)

11126784

In [ ]:
hex(11126784)

'0xa9c800'

In [ ]:
a = 4
b = a

In [ ]:
print(id(a))
print(id(b))

11126784
11126784

In [ ]:
c = b

In [ ]:
print(id(c))

11126784

In [ ]:
del a

In [ ]:
a

NameError: ignored

In [ ]:
print(b)

4

In [ ]:
del b
print(c)

4

In [ ]:
a = 'DSMP 2022-23'
b = a
c = b

In [ ]:
import sys
sys.getrefcount('DSMP 2022-23')

3

In [ ]:
L = [1,2,3]
print(id(L))

L.append(4)
print(L)
print(id(L))

139652074757168
[1, 2, 3, 4]
139652074757168

In [ ]:
T = (1,2,3)
print(id(T))

T = T + (4,)

print(T)
print(id(T))

139652076050304
(1, 2, 3, 4)
139652075362160

In [ ]:
a = [1,2,3]
b = a

b.append(4)
print(b)

[1, 2, 3, 4]

In [ ]:
print(a)

[1, 2, 3, 4]

In [ ]:
def func(data):
  data.append(4)

a = [1,2,3]
func(a[:])
print(a)

[1, 2, 3]

In [ ]:
a = [1,2,3]
# cloning
b = a[:]

In [ ]:
id(a)

139652074408688

In [ ]:
id(b)

139652074409728

In [ ]:
b.append(4)
b

[1, 2, 3, 4]

In [ ]:
a

[1, 2, 3]

In [ ]:
a = {'name':'nitish','age':33}
# aliasing->cloning
b = a.copy()

b['gender'] = 'male'

print(b)
print(a)

{'name': 'nitish', 'age': 33, 'gender': 'male'}
{'name': 'nitish', 'age': 33}

In [ ]:
a = [1,2,3]
# shallow
b = a.copy()

b.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
a = [1,2,3,[4,5]]
a

[1, 2, 3, [4, 5]]

In [ ]:
print(id(a[-1]))
print(id(b[-1]))

139652074560480
139652074560480

In [ ]:
b = a.copy()
b

[1, 2, 3, [4, 5]]

In [ ]:
print(id(a))
print(id(b))

139652074868240
139652074561280

In [ ]:
b[-1][0] = 400
print(b)

[1, 2, 3, [400, 5]]

In [ ]:
a

[1, 2, 3, [400, 5]]

In [ ]:
import copy

a = [1,2,3,[4,5]]
a

[1, 2, 3, [4, 5]]

In [ ]:
b = a[:]
b

[1, 2, 3, [4, 5]]

In [ ]:
b[-1][0] = 400
b

[1, 2, 3, [400, 5]]

In [ ]:
a

[1, 2, 3, [400, 5]]

In [ ]:
print(id(a[-1]))
print(id(b[-1]))

139652075071600
139652074658464

In [ ]:
# [:] -> shallow copy

In [ ]:
s = 'hello'

id(s)

139652297075120

In [ ]:
id(s[0])

139652626357424

In [ ]:
id('h')

139652626357424

In [ ]:
{12,}